{% extends 'book/layout.html' %}

{% block content %}
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Список книг в магазине:</h1>
          <a href="{% url 'books-create' %}" class="btn btn-warning">Добавить новую книгу</a>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>
          {% if books %}
            {% for bk in books %}
                <div class="alert alert-light">
                    <h3 class="fw-light">{{ bk.title }}</h3>
                    <p class="fw-light">Автор книги: {{ bk.author }}</p>
                    {% if bk.image %}
                        <img src="{{ bk.image }}" style="height: 300px;"><br><br>
                    {% else %}
                        <p class="fw-light">Обложка отсутствует</p>
                    {% endif %}
                    <a href="{% url 'books-detail' bk.id %}" class="btn btn-dark">Подробнее</a>
                </div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="btn-toolbar mb-2 mb-md-0">
                    </div>
                  </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей!</p>
        {% endif %}
        </div>
      </div>
    </section>

{% endblock %}