{% extends 'book/layout.html' %}

{% block content %}

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <div class="features">
          <h1 class="fw-light">Работа с книгой</h1><br>
          <form method="post">
            {% csrf_token %}
            Название книги: {{ form.title }}<br>
            Ссылка на обложку: {{ form.image }}
            Автор книги: {{ form.author }}<br>
            Описание книги: {{ form.description }}<br>
            Стоимость книги: {{ form.price }}<br>
            Количество книг: {{ form.quantity }}<br>
            <button class="btn btn-dark" type="submit">Изменить книгу</button>
            <a href="{% url 'home' %}" class="btn btn-dark">Назад</a>
          </form>
        </div>
        </div>
      </div>
    </section>

{% endblock %}