{% extends 'book/layout.html' %}

{% block content %}

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Информация о веб приложении</h1>
          <p class="lead text-muted">Веб приложение книжного магазина создано с использованием HTML, CSS, Bootstrap. Используется база данных SQLite. Присутсвует функционал добавления книг, изменения, удаления, а также продажа. Страница с статистикой отображает книги и информацию о продажах.</p>
        </div>
      </div>
    </section>

{% endblock %}
